<ion-content padding>
  <h3>Sistema de Pedidos</h3>

  <img src="assets/imgs/tela-inicial.png" alt="Logo" />

  <form>
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input [(ngModel)]="creds.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input [(ngModel)]="creds.senha" name="senha" type="password"></ion-input>
    </ion-item>
    <button ion-button block (click)="login()" >Entrar</button>
  </form>
  <button ion-button block outline (click)="sigunp()">Registrar</button>

</ion-content>
